# Requirements for docs build
paramiko
cryptography
boto3
google-cloud-kms
azure-keyvault-keys
azure-identity
protobuf
grpcio-tools
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
azure-core>=1.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
